.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-color: #f7f7f7; /* Light background color */
  font-family: 'Arial', sans-serif; /* Simple font */
  color: #333; /* Dark text color */
}
.pile {
  display: grid;
  place-content: center;
  padding: 5rem;
}

.pile > * {
  grid-area: 1/1;
}

.audio {
  width: 300px; /* Width of the audio player */ border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  margin-top: 5rem; 
  border: 2px solid black;
  border-radius: 9999px;
}

.imageWrapper {
  position: relative;
  width: 100%;
  max-width: 730px;
  aspect-ratio: 730 / 240; /* Keeps original ratio */
}

.logo {
  object-fit: contain;
}